#main{
  position: relative;
  margin-top: 100px;
  padding-bottom: 1rem;
}

#branch{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  padding: 5rem;
}

#cube-title{
  font-size: 3rem;
  color: var(--item-color);
}

.cube-logo{
  font-size: 4rem;
}

#login-form{
  display: block;
  margin: 50px auto;
  background: var(--item-color);
  opacity: 0.8;
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  width: 30%;
}

.form-group{
  display: flex;
  justify-content: center;
  margin: .5rem auto;
}

label{
  color: whitesmoke;
  margin-right: 1rem;
}

#login{
  margin-left: .2rem;
}

.input-form{
  width: 40%;
}

#submit{
  background-color: var(--bg-color);
  color: var(--item-color);
  padding: .5rem;
  border: white solid .1rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

@media screen and (min-width:480px) and (max-width:1200px) {
  #main{
    padding-bottom: 15rem;
  }
  #login-form{
    width: 50%;
  }
}

@media screen and (max-width:480px) {
  #main{
    padding-bottom: 50rem;
  }
  #login-form{
    width: 100%;
  }
}

/*inseção do HTML*/
.login-ok{
  display: flex;
  justify-content: center;
  margin: 1rem auto 0;
  position: relative;
  width: 50%;
  color: wheat;
}

@media  screen and (max-width=1200px) {
    .login-ok{
      width: 100%;
    }
}