#main{
  position: relative;
  margin-top: 100px;
}

#main-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  padding: 2rem;
}

#title{
  color: var(--item-color);
  padding-bottom: 0.4rem;
}

.welcome{
  color: rgb(43, 43, 43);
}

#input-home{
  width: 85%;
  display: flex;
  margin: auto;
  padding-top: .8rem;
  align-items: center;
}

i.bi-search{
  position: absolute;
  color: var(--item-color);
  padding-left: 7rem;
  font-size: 20px;
}

#input-search{
  width: 85%;
  padding-left: 2.2rem;
  margin: auto;
  font-size: 20px;
  border: 5px ridge var(--item-color);
  outline-style: none;
}

#input-search:hover{
  border: 5px ridge var(--bg-color);
}

section#categorias{
  display: flex;  
}

ul#ul-categorias{
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  justify-content: space-around;
  margin: auto;
}

.a-categorias{
  margin: 2rem;
  text-decoration: none;
}

.categoria{
  list-style: none;
  margin: auto;
  color: var(--item-color);
  background-color: var(--bg-color);
  padding: .1rem .3rem;
  border-radius: .5rem;
  border: .2rem solid var(--bg-color);
}

.categoria:hover{
  cursor: pointer;
  border: .2rem solid var(--item-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.493);
}