#main{
  position: relative;
  margin-top: 100px;
}
/* Estilizando o section#main-head */
#main-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  padding: 2rem;
}

#title{
  color: var(--item-color);
  padding-bottom: 0.4rem;
}

.welcome{
  color: rgb(43, 43, 43);
}
/* Estilizando o section#input-home */
#input-home{
  width: 85%;
  display: flex;
  margin: auto;
  padding-top: .8rem;
  align-items: center;
}

i.bi-search{
  position: absolute;
  color: var(--item-color);
  padding-left: 7rem;
  font-size: 20px;
}

#input-search{
  width: 85%;
  padding-left: 2.2rem;
  margin: auto;
  font-size: 20px;
  border: 5px ridge var(--item-color);
  outline-style: none;
}

#input-search:hover{
  border: 5px ridge var(--bg-color);
}
/* Estilizando o section#categorias */
section#categorias{
  display: flex;  
}

ul#ul-categorias{
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  justify-content: space-around;
  margin: auto;
}

.a-categorias{
  margin: 2rem;
  text-decoration: none;
}

.categoria{
  list-style: none;
  margin: auto;
  color: var(--item-color);
  background-color: var(--bg-color);
  padding: .1rem .3rem;
  border-radius: .5rem;
  border: .2rem solid var(--bg-color);
}

.categoria:hover{
  cursor: pointer;
  border: .2rem solid var(--item-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all .5s ease-in-out;
}
/* Estilizando a section#card-produtos */
section#card-produtos{
  display: flex;
}

figure.produtos{
  display: block;
  margin: 2rem;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  width: 25%;
  align-content: center;
}

figure.produtos:hover{
  box-shadow: none;
  background-color: var(--bg-color);
}

.produtos img{
  display: block;
  margin: auto;
  width: 70%;
  margin-top: 2rem;
  height: 70%;
  justify-content: center;
}

figcaption.nome-do-produto{
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 20px;
  color: var(--item-color);
  margin-bottom: 2rem;
  margin-top: .8rem;
}
/* Estilização de ver mais */
div#ver-mais{
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  font-size: 30px;
}

div#ver-mais a{
  color: var(--item-color);
  text-decoration: none;
}
/* Estilização de avaliação */
section#rating{
  text-align: center;
  border: .5rem solid var(--bg-color);
  border-radius: 1rem;
  outline: .1rem solid var(--item-color);
  width: 50%;
  margin: auto;
  padding: 1rem;
  margin-bottom: 2rem;
  font: bold 1rem sans-serif;
}

p#rating-title{
  font-size: 40px;
  color: rgb(33, 95, 187);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.74);
}

section#rating .bi{
  font-size: 35px;
  color: var(--item-color);
}

#rating-text{
  font-size: 25px;
  color: grey;
  padding-left: 1rem;
}